input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
.row{
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(200, 200, 255, 0.2);
  box-shadow: 0 0 25px rgba(128, 0, 128, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease
}
.btn.btn-success{
  color:#7e3ff2; 
  background-color: #DDA0DD; 
  border: rgba(255, 255, 255, 0.85);
}