.list-group-item {
    background-color: #808080; /* Default background color */
    color: #6CB4EE;
    border: 1px solid #ddd; 
    padding: 10px; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}
.list-group-item:hover {
    background-color: rgba(51, 51, 51, 0.5);
    color: aquamarine;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    cursor: pointer; 
}
